html {
    height: 100%;
    font-size: 16px;
    width: 100%;
}

:root {
    --main-color: #d2e6e4;
    --color2: #0b7077;
}

#body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#main-section {
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    padding: 1rem;
    width: 100%;
}

#main-section hr {
    margin: 0;
    padding: 0;
    border: 1px solid #3cbbc536; 
    width: 100%; 
    display: block;
}

#dashboard {
    font-family: "Abril Fatface", serif;
    font-size: 2rem;
    font-weight: 100;
    color: var(--color2);
    padding: 0;
    margin: 0;
}

.person-data {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.person-data img {
    width: 120px;
    height: 120px;
    /*max-width: 10vw;*/
    /*max-height: 10vw;*/
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.person-data img,
.sections img {
    object-fit: cover;
}

#person-name {
    font-family: Inter;
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--color2);
}


#name-second-line {
    font-family: Inter;
    font-weight: 300;
    font-size: 1.5rem;
    text-decoration: none;
}

/* .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    flex-wrap: nowrap;
    height: auto;
}

.content ul {
    align-content: left;
    height: 6rem;
    margin: 0;
}

.content li {
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 0;
}

.generalInfo, .activity {
    width: 48%;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    box-shadow: 0 4px 8px var(--color2);
    padding: 1rem;
    
} 
*/

#tables{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 0;
}

.child-stats{
    border: 2px solid #b1d1d4;
    box-shadow: 0px 4px 8px rgb(34, 169, 178,0.6); 
    border-radius: 0.5rem; 
    display: flex;
    justify-content:baseline;
    align-items:center;
    flex-direction: column;
    width:40%;
    /* height: 60vh; */
    margin-top: 3vw;
}

.child-stats .title{
    position: relative;
    padding: 10px;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid #b1d1d4;
    background-color: white;
    color: black;
    font-family: Raleway;
    font-weight: 600;
    font-size: 1.7em;
    /*margin-bottom: 3vw;*/
}

.child-stats:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px #b1d1d4;
}

.child-stats .details ul {
    list-style: none;
    padding: 0;
}

.child-stats .details ul li {
    font-size: 16px;
    margin: 12px 0;
}

.child-stats .details .percentage {
    font-weight: 700;
    color: black;
}

#history{
    font-family: Raleway;
    font-weight: 600;
    font-size: 1.7em;
    margin: 0;
}


.child-chart{
    display: flex;
    flex-direction: row;
    width:90%;
    justify-content: center;
    align-items: center;
    margin-bottom:2vw;
}

#chart-container {
    display: flex;
    width: 70%;
    height: 1rem;
    justify-content: center; 
    align-items: center;
    
}



.details{
    /* border: 1px solid black; */
    font-size: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.details ul {
    padding: 5px;
}

.details li {
    margin-left: 15px;
}

.history-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    height: 60%; 
    margin: 0;
    width:100%;
}

.history-item {
    border:none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    /*border-radius: 0px;*/
    width: 100%; 
    text-align: left;
}

.dots {
    margin: 0;
    padding: 0;
    font-size: 60px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    
    /* margin-top: 5px; */
    /* Reduced margin-top */
}


.history-date {
    font-family: "Inter";
    font-size: 0.8em;
    color: #888;
    text-align: left;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.time{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}




@media (max-width: 600px) {
    #main-section {
        width: 100%;
    }

    #tables{
        flex-direction: column;
        align-items: center;
    }
    .child-stats{
        width:80%;
    }
    .person-data img{
        width:19vw;
        height:19vw;
    }
    #person-name{
        font-size: 5.3vw;
    }
    #name-second-line{
        font-size:4vw;
    }
    .child-stats{
        margin-bottom: 3vw;
    }
}

@media (max-width: 576px) {
    #main-section {
        width: 100%;

    }

    body {
        width: 100%;

    }

    .content li {
        font-size: 0.8rem;
    }
}


