
html {
    height: 100%;
    font-size: 16px; /* Base font size for rem units */
}

:root {
    --main-color: #d2e6e4;
    --color2: #0b7077;
}

.header {
    display: flex;
    background-color: var(--main-color);
    height: 5rem;
    align-items: center;
}

.elements1 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    flex-wrap: nowrap;
    width: 100%;
    gap: 0.5rem;
    margin-left: 0.5rem;
}

.name {
    color: var(--color2);
    font-family: "Habibi", serif;
    display: flex;
    align-items: center;
}

.name a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color:var(--color2);;
}

.name h1 {
    font-size: 1.5rem;
    margin: 0;
}

i.bi-book {
    font-size: 2rem;
    margin-right: 0.5rem;
}

.profile {
    color: var(--color2);
    margin-right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.modalClass {
    display: none;
    position: fixed;
    align-content: right;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: none;
}

.modalContentProfile {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top: 4rem;
    background-color: white;
    padding: 2rem;
    width: 15rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(177, 209, 212);
}

.sections a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--color2);
}

.modalContentProfile :nth-child(2) {
    margin-top: 1rem;
}

.modalContentProfile :nth-child(4) {
    margin-bottom: 1rem;
} 

.sections hr {
    color: black;
}

.sections img, .sections i {
    
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.3rem;
    border-radius: 20px;
    background-color: #aaaaaa5d;
    color: var(--color2);
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sections h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
    text-align: left;
}

.sections h2:hover {
    text-decoration: underline;
}


.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    top: 0;
    right: 15px;
}

.closeModal:hover,
.closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.elements1 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left:0;
    flex-wrap: wrap; 
    width: 100%;
    gap: 0.5rem; /* Space between the icon and the title */
    margin-left: 0.5rem;
}

.name {
    color: var(--color2);
    font-family: "Habibi", serif;
    display: flex;
    align-items: center; /* Center icon and text vertically */
}


.name h1 {
    font-size: 1.5rem;
    margin: 0;
}


i.bi-book {
    font-size: 2rem;
    margin-right: 0.5rem;
}

#body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* flex-direction: column; */
}

#main-section {
    /*margin: 0rem 1rem;*/
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
    align-items: center;
    padding: 1rem;
    width: 100%;
}


#main-section hr {
    margin: 0;
    padding: 0;
    border: 1px solid #3cbbc536; 
    width: 100%; 
    display: block;
    margin-bottom: 2rem;
}

#dashboard{
    font-size: 2rem;
    font-weight:100;
    font-family: Abril FatFace;
    color: var(--color2);
    width:100%;
    /* border: 1px solid black; */
}

.person-data{
    display:flex;
    width: 97%;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left:0.6rem;
}

.person-data img {
    /* border: 1px solid black; */
    width: 8vw;  /* Adjust width based on viewport */
    height: 8vw; /* Height should be the same to maintain circle */
    max-width: 150vw; /* Maximum size limit */
    max-height: 150vw;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0; /* Remove margin */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    }


#person-name {
    /* border: 1px solid black; */
    font-family: Inter;
    font-weight:600;
    font-size: 3rem;
    margin: 0; /* Remove margin for better alignment */
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--color2);
}

#name-second-line{
    /* border: 1px solid black; */
    font-family: Inter;
    font-weight:300;
    font-size: 1.5rem;
    text-decoration: none;
}

.child{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* border: 1px solid black; */
}

.child .person-data{
    padding-top:1vh;
    width:100%;
    font-family: Raleway;
    font-weight: 500;
    font-size:19;
}

#accordeon-container{
    margin-top: 2rem;
    width: 95%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    margin-bottom: 2rem;


}

    .accordeon{
    width: 100%;
    /*border-radius: 1rem 1rem 0 0;*/
    border: 2px solid rgba(177, 212, 208, 0.7);
    box-shadow: 2px 2px 6px rgba(177, 212, 208, 0.7);

} 

.accordeon .contentBx{
    position: relative;            
}

.accordeon .contentBx .label{
    position: relative;
    padding: 10px;
    border-radius: 1rem 1rem 0 0;
    background-color: white;
    color: black;
    font-family: Raleway;
    font-weight: 600;
    font-size: 1.8em;
    cursor: pointer;
}

.accordeon .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right:20px;
    transform: translateY(-50%);
    font-size: 1em;
}

.accordeon .contentBx.active .label::before{
    content: '-';

}


.accordeon .contentBx .content{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    /* border: 1px solid black; */
    border:none;
    border-top: 1px solid #b1d1d4;
    border-bottom: 1px solid #b1d1d4;
    overflow-y: auto;  
}

.accordeon .contentBx .label img  {
    width: 70px;  /* Adjust width based on viewport */
    height: 70px; /* Height should be the same to maintain circle */
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 0; /* Remove margin */
    /*transition: transform 0.3s ease, box-shadow 0.3s ease; !* Smooth transition for transform and shadow *!*/
    cursor: pointer;
    }



.accordeon .contentBx.active .content{
    height: 600px;
    /*padding: 1vw 3vw 3vw 3vw;*/
}

p {
    margin-top: 2;
    margin-bottom: 1rem;
    font-family: "Inter";

}

.content-info-person-details{
    font-weight: 300;
}

#tables{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0vw 3vw 3vw 3vw;
    justify-content: space-evenly;
    margin-top: 0;
}

.child-stats{
    border: 2px solid #b1d1d4;
    box-shadow: 0px 4px 8px rgb(34, 169, 178,0.6); 
    border-radius: 0.5rem; 
    display: flex;
    justify-content:baseline;
    align-items:center;
    flex-direction: column;
    width:40%;
    /* height: 60vh; */
    margin-top: 2vw;
}

.child-stats .title{
    position: relative;
    padding: 10px;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid #b1d1d4;
    background-color: white;
    color: black;
    font-family: Raleway;
    font-weight: 600;
    font-size: 1.7em;
    margin-bottom: 3vw;
    /* margin: 0; */
}

.child-stats:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px #b1d1d4;
}

.child-stats .details ul {
    list-style: none;
    padding: 0;
}

.child-stats .details ul li {
    font-size: 16px;
    margin: 12px 0;
}

.child-stats .details .percentage {
    font-weight: 700;
    color: black;
}

#history{
    font-family: Raleway;
    font-weight: 600;
    font-size: 1.7em;
    margin: 0;
}


.child-chart{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center; 
    align-items: center;  
}

#chart-container {
    display: flex;
    width: 1rem;
    height: 1rem;
    justify-content: center; 
    align-items: center;
    
}
canvas{
    width: 15vw;
    /* height: 10rem; */
}


.details{
    /* border: 1px solid black; */
    font-size: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.details ul {
    padding: 5px;
}

.details li {
    margin-left: 15px;
}

/* #myChart {
    width:100 ;
    height: 100;
} */

i.bi-bar-chart, i.bi-clock-history{
    margin-left: 0.5rem;
}

.history-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    height: 60%; 
    margin: 0;
    width:100%;
}

.history-item {
    border:none;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    /*border-radius: 0px;*/
    width: 100%; 
    text-align: left;
}

.dots {
    margin: 0;
    padding: 0;
    font-size: 60px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    
    /* margin-top: 5px; */
    /* Reduced margin-top */
}


.history-date {
    font-family: "Inter";
    font-size: 0.8em;
    color: #888;
    text-align: left;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.time{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

    

@media (max-width: 300px) {
/* .header {
    height: 6vw;
} */

.person-data img {
    width: 10vw;
    height: 10vw;
    max-width: 120px;
    max-height: 120px;
}

#person-name {
    font-size: 2.5rem;
}

#name-second-line {
    font-size: 1.2rem;
}

.child-stats {
    width: 45%;
    margin-top: 2vw;
}

.child-stats .title {
    font-size: 1.5em;
}

/* #myChart {
    width: 80%;
    height: 80%;
} */

/* .accordeon {
    width: 90%;
} */

/* .details {
    font-size: 0.5rem;
    background-color: red;
} */

.history-container {
    gap: 1rem;
}
}

@media (max-width: 600px) {
/* .header {
    height: 6vw;
} */

.person-data img {
    width: 10vw;
    height: 10vw;
    max-width: 120px;
    max-height: 120px;
}

#person-name {
    font-size: 2.5rem;
}

#name-second-line {
    font-size: 1.2rem;
}

.child-stats {
    width: 45%;
    margin-top: 2vw;
}

.child-stats .title {
    font-size: 1.5em;
}
/* 
#myChart {
    width: 80%;
    height: 80%;
} */

/* .accordeon {
    width: 90%;
} */

.details {
    font-size: 0.5rem;
    text-align: left;
}

.history-container {
    gap: 1rem;
}
}

@media (max-width: 768px) {
/* .header {
    height: 4vw;
} */

.person-data img {
    width: 10vw;
    height: 10vw;
    max-width: 120px;
    max-height: 120px;
}

#person-name {
    font-size: 2.5rem;
}

#name-second-line {
    font-size: 1.2rem;
}

.child-stats {
    width: 45%;
    margin-top: 2vw;
}

.child-stats .title {
    font-size: 1.5em;
}

/* #myChart {
    width: 80%;
    height: 80%;
} */

/* .accordeon {
    width: 90%;
} */

.history-container {
    gap: 1rem;
}
}

/* Larger screens (desktops, 1024px and above) */
@media (max-width: 1024px) {
/* .header {
    height: 5vw;
} */

.person-data img {
    width: 8vw;
    height: 8vw;
    max-width: 150px;
    max-height: 150px;
}

#person-name {
    font-size: 3rem;
}

#name-second-line {
    font-size: 1.5rem;
}

.child-stats {
    width: 40%;
}

.child-stats .title {
    font-size: 1.7em;
}

/* #myChart {
    width: 90%;
    height: 90%;
} */

/* .accordeon {
    width: 80%;
} */
}

/* Footer */

.footer {
    position: absolute;
    background-color: var(--main-color);
    height: 15rem;
    width: 100%;
    margin-top: 5rem;
    border-top-left-radius: 60% 30%;
    border-top-right-radius: 60% 30%;
}

.footer-content {
    margin-top: 3rem;
    margin-left: 1rem;
}

.info {
    display: flex;
    flex-direction: row;
}

.generalInfo {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 5px;
}

.listInfo {
    display: flex;
    flex-direction: row;
}

.listInfo i {
    font-size: 1rem;
    color: var(--color2);
    margin-right: 15px;
}

.listInfo h1 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color2);
}

.otherInfo {
    list-style: none;
    color: var(--color2);
    font-size: 1rem;
    font-weight: 400;
    margin-left: 50px;
}

.otherInfo li:first-child {
    font-weight: 700;
    color: black;
    margin-bottom: 15px;
}

.otherInfo li a {
    text-decoration: none;
    color: inherit;
}

