<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_administrator.css') }}">

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>Administrator Dashboard</title>
</head>

<body>
    {% if action %}
        <script>
            alert("{{ action }}");
        </script>
    {% endif %}

    {% include 'header_dashboards.html' %}

    <div id="main-section">
        <p id="dashboard">Dashboard</p>
        <hr>
        <div class="person-data">
            <img src="/static/profile_pictures/{{ admin.profile_picture }}" alt="Profile Picture" width="60" height="60">
            <p>
                <span id="person-name">{{ admin.full_name }}</span> <br>
                <span id="name-second-line">School Administrator</span>
            </p>
        </div>
    </div>

    <nav>
        <a href="#" id="nav-users" class="active" onclick="showSection('users')">Users</a>
        <a href="#" id="nav-classes" onclick="showSection('classes')">Classes</a>
        <a href="#" id="nav-teachers" onclick="showSection('teachers')">Teachers</a>
        <a href="#" id="nav-parents" onclick="showSection('parents')">Parents</a>
        <a href="#" id="nav-students" onclick="showSection('students')">Students</a>
    </nav>

    <!-- Users Section -->
    <section id="users" class="active">

        <h2 class="manage">Manage Users</h2>
        <h3 class="manage-users">Add Users</h3>
        <form id="add-user-form" action="{{ url_for('user_management.add_user') }}" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="text" name="role" placeholder="Role (Student, Parent, Teacher, Admin)" required>
            <input type="text" name="full_name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="phone_number" placeholder="Phone Number" required>
            <input type="text" name="profile_picture" placeholder="Profile Picture" required>
            <button class ="submit-button" type="submit">Add User</button>
        </form>

        <h3 class="manage-users">Search Users</h3>
        <input type="text" id="user-search-query" placeholder="Search by username, name">
        <button class="submit-button" onclick="searchUsers()">Search</button>

        <h3 class="manage-users">Users List</h3>
        <table id="users-table">
            <thead >
                <tr class="table-header">
                    <th id="profile-photo">Profile Photo</th>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td class="profile-picture-cell">
                        <img src="{{ url_for('static', filename='profile_pictures/' ~ user.profile_picture) }}"
                             alt="Profile Picture">
                    </td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.username}}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <form action="{{ url_for('user_management.delete_user', user_id=user.user_id) }}" method="POST">
                            <button class="submit-button" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>


    <!-- Classes Section -->
    <section id="classes">
        <h2 class="manage">Manage Classes</h2>

        <h3 class="manage-users">Add New Class</h3>
        <form class="add-class-form" action="{{ url_for('class_management.add_class') }}" method="POST">
            <input type="text" name="class_name" placeholder="Class Name" required>
            <input name="description" placeholder="Description">
            <button class="submit-button" type="submit">Create Class</button>
        </form>

        <h3 class="manage-users">Link Teacher to Class</h3>
        <form class="add-class-form" action="{{ url_for('links.link_teacher_to_class') }}" method="POST">
            <label for="class_id">Select Class:</label>
            <select name="class_id" id="class_id" required>
                {% for class in classes %}
                    <option value="{{ class.class_id }}">{{ class.class_name }}</option>
                {% endfor %}
            </select>

            <label for="teacher_id">Select Teacher:</label>
            <select name="teacher_id" id="teacher_id" required>
                {% for teacher in teachers %}
                    <option value="{{ teacher.user_id }}">{{ teacher.full_name }}</option>
                {% endfor %}
            </select>

            <button class="submit-button" type="submit">Link Teacher to Class</button>
        </form>

        <!-- Classes List -->
        <h3 class="manage-users">Classes List</h3>
        <table id="teachers-list">
            <thead>
                <tr>
                    <th>Class ID</th>
                    <th>Class Name</th>
                    <th>Description</th>
                    <th>Teacher</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for class in classes %}
                <tr>
                    <td>{{ class.class_id }}</td>
                    <td>{{ class.class_name }}</td>
                    <td>{{ class.description }}</td>
                    <td>
                        {% if class.teacher_name %}
                            <a href="#" onclick="searchTeacher('{{ class.teacher_name }}')">{{ class.teacher_name }}</a>
                        {% else %}
                            No Teacher Assigned
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ url_for('class_management.delete_class', class_id=class.class_id) }}" method="POST">
                            <button class="submit-button" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>


    <!-- Teachers Section -->
    <section id="teachers">
        <h2 class="manage">Manage Teachers</h2>

        <!-- Search Teachers Form -->
        <h3 class="manage-users">Search Teachers</h3>
        <input class="add-class-form" type="text" id="teacher-search-query" placeholder="Search by teacher name or email">
        <button class="submit-button" onclick="searchTeachers()">Search</button>

        <!-- Teachers List -->
        <h3 class="manage-users">Teachers List</h3>
        <table id="teachers-table">
            <thead>
                <tr>
                    <th>Profile Picture</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                <tr>
                    <td class="profile-picture-cell">
                        <img src="{{ url_for('static', filename='profile_pictures/' ~ teacher.profile_picture) }}"
                             alt="Profile Picture">
                    </td>
                    <td>{{ teacher.full_name }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>{{ teacher.phone_number }}</td>
                    <td>
                        <form action="{{ url_for('user_management.delete_user', user_id=teacher.user_id) }}" method="POST">
                            <button  type="submit" class="submit-button">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>


    <!-- Parents Section -->
    <section id="parents">
        <h2 class="manage">Manage Parents</h2>

        <h3 class="manage-users">Search Parents</h3>
        <input class="add-class-form" type="text" id="parent-search-query" placeholder="Search by name, email, or phone">
        <button class="submit-button" onclick="searchParents()">Search</button>

        <!-- Parents List -->
        <h3 class="manage-users">Parents List</h3>
        <table id="parents-table">
            <thead>
                <tr>
                    <th>Profile Picture</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for parent in parents %}
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename='profile_pictures/' ~ parent.profile_picture) }}"
                             alt="Profile Picture" width="50" height="50">
                    </td>
                    <td>{{ parent.full_name }}</td>
                    <td>{{ parent.email }}</td>
                    <td>{{ parent.phone_number }}</td>
                    <td>
                        <form action="{{ url_for('user_management.delete_user', user_id=parent.user_id) }}" method="POST">
                            <button class="submit-button" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>

    <!-- Students Section -->
    <section id="students">
        <h2 class="manage">Manage Students</h2>

        <h3 class="manage-users">Link Student to Class</h3>
        <form id="link-student-class-form" action="{{ url_for('links.link_student_class') }}" method="POST">
            <label for="student_id-class">Select Student:</label>
            <select name="student_id" id="student_id-class" required>
                <option value="" disabled selected>Select a student</option>
                {% for student in students %}
                    <option value="{{ student.student_id }}">{{ student.student_name }}</option>
                {% endfor %}
            </select>

            <label for="class_id-student">Select Class:</label>
            <select name="class_id" id="class_id-student" required>
                {% for class in classes %}
                    <option value="{{ class.class_id }}">{{ class.class_name }}</option>
                {% endfor %}
            </select>

            <button class="submit-button" type="submit">Link Student to Class</button>
        </form>

        <h3 class="manage-users">Link Student to Parent</h3>
        <form id="link-student-parent-form" action="{{ url_for('links.link_student_parent') }}" method="POST">
            <label for="student_id">Select Student:</label>
            <select name="student_id" id="student_id" required>
                <option value="" disabled selected>Select a student</option>
                {% for student in students %}
                    <option value="{{ student.student_id }}">{{ student.student_name }}</option>
                {% endfor %}
            </select>

            <label for="parent_id">Select Parent:</label>
            <select name="parent_id" id="parent_id" required>
                {% for parent in parents %}
                    <option value="{{ parent.parent_id }}">{{ parent.full_name }}</option>
                {% endfor %}
            </select>

            <button class="submit-button" type="submit">Link Student to Parent</button>
        </form>

        <h3 class="manage-users">Search Students</h3>
        <input type="text" id="student-search-query" placeholder="Search by name, username">
        <button class="submit-button" onclick="searchStudents()">Search</button>

     <h3 class="manage-users">Students List</h3>
    <table id="students-table">
        <thead>
            <tr>
                <th>Profile Picture</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Class</th>
                <th>Email</th>
                <th>Parent</th>
                <th>UID</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td class="profile-picture-cell">
                    <img src="{{ url_for('static', filename='profile_pictures/' + (student.profile_picture or 'default.jpg')) }}"
                         alt="Profile Picture">
                </td>
                <td>{{ student.student_name }}</td>
                <td>{{ student.full_name }}</td>
                <td>{{ student.class_name if student.class_name else 'No Class Assigned' }}</td>
                <td>{{ student.email }}</td>
                <td>
                    {% if student.parent_name %}
                        <a href="#" onclick="searchParent('{{ student.parent_name }}')">
                            {{ student.parent_name }}
                        </a>
                    {% else %}
                        No Parent Assigned
                    {% endif %}
                </td>
                <td>{{ student.uid }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </section>

    {% include 'footer.html' %}


<script src="{{ url_for('static', filename='js/admin_dashb.js') }}"></script>

</body>
</html>