<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <title>Log In</title>

     <!-- Bootstrap -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
 

     <!-- CSS -->
     <link rel="stylesheet" href="styles_login.css">

    
</head>
<body>
    <img src="images/background.jpg">
    <div class="header">
        <div class="elements1">
        <div class="name d-flex align-items-center">
            <i class="bi bi-book"></i>
            <h1>EduGate</h1>
        </div>
    </div>
    </div>
   

    <main id="main-holder">
        <h1 id="login-header">Log In </h1>

        <form id="login-form">
            <p id="title_1" class = "title">Phone number </p>
            <input id="username-field" class="login-form-field" type="text" name="phonenumber" pattern="\d{9}" placeholder="Phone number">
            <p id="title_2" class = "title">Password</p>
            <input id="password-field" class="login-form-field" type="password" name="password" placeholder="Password">
            <p id="title_3" class = "title">Forgot password?</p>

            <div id="login-error-msg-holder">
                <p id="login-error-msg">Account not found. Please check your credentials or sign up for a new account. </p>
            </div>

            <input id="form-submit" type="submit" value="Log In">

            <p id="text-to-signin"> Don't have an account?<a href="signin_data_page.html" id="link-to-signin" > Sign up here!</a></p>

            <!-- <p id="title_3" class = "title">Forgot password?</p> -->
        </form>

    </main>

    <script>
        const loginForm = document.getElementById("login-form");
        const loginButton = document.getElementById("form-submit");
        const errorMsg = document.getElementById("login-error-msg");
        const errorHolder = document.getElementById("login-error-msg-holder")

        loginButton.addEventListener("click",(e) =>{
            e.preventDefault(); // Prevent default form submission behavior

            const phone = loginForm.phonenumber.value;
            const password = loginForm.password.value;

            const phoneRegex = /^\d{9}$/;
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;



            if( phone==="" || password === "" ){
                errorMsg.textContent = "Please complete all fields.";
                errorHolder.style.display = "flex";
                errorMsg.style.display = "block";
                errorMsg.style.opacity = 1;
            }
            else if (phone != 1 || password != 1){
                errorMsg.textContent = "Account not found. Please check your credentials or sign up for a new account.";
                errorHolder.style.display = "flex";
                errorMsg.style.display = "block";
                errorMsg.style.opacity = 1;
            }
            else{
                errorHolder.style.display = "none"; // Hide the error message if everything is valid
                errorMsg.style.opacity = 0; //
                alert("You have successfully logged in.");

            }


            // if (!phoneRegex.test(phone)) {
            //     errorMsg.textContent = "Invalid phone number. It must be exactly 9 digits.";
            //     errorHolder.style.display = "flex";
            //     errorMsg.style.display = "block";
            //     errorMsg.style.opacity = 1;
            // } else if (!passwordRegex.test(password)) {
            //     errorMsg.textContent = "Invalid password. It must be at least 8 characters long and include an uppercase letter, a lowercase letter, a number, and a special character.";
            //     errorHolder.style.display = "flex";
            //     errorMsg.style.display = "block";
            //     errorMsg.style.opacity = 1;
            // } else {
            //     errorHolder.style.display = "none"; // Hide the error message if everything is valid
            //     errorMsg.style.opacity = 0; //
            //     alert("You have successfully logged in.");
                
            // }

            loginForm.phonenumber.value = "";
            loginForm.password.value = "";
        }
        
        )

    </script>
</body>
</html>